body {
    font-family: 'Newsreader', serif !important;
}

/* ------------Template PHP-------------- */
.fixed-top {
    background-color: #F5F5F5;
}

footer {
    text-align: center;
    background-color: #5a91af;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    font-size: 20px;
}

/*-------------- View Accueil--------------*/

#comment {
    height: 70px;
    width: 201px;
}
/* 
h1 {
    text-align: center;
    margin-top: 100px !important;
    margin-bottom: 20px !important;
} */

/* ------------List post View ----------- */
#btnListPosts {
    margin-top: 15px;
}



.text-center {
    margin-bottom: 20px;
}

/* ----------View Connexion------------ */

.logConnexion {
    margin-top: 50px;
}

/* ----------------View Admin------------- */


.card-bodyAdmin {
    background-color: #F5F5F5;
}

.card-body {
    text-align: center;
    background-color: #F5F5F5;
}

/* --------------- Comment View Admin ------- */

#titleCommentAdmin {
    text-align: center;
    font-size: 21px;
    margin-bottom: 30px;
}


/* -------------- Create post Admin --------------- */

.createArticle {
    margin-left: 230px;
    margin-right: 230px;
}

#titleAdmin {
    margin-left: 230px;
}


.jumbotron-fluid {
    background-image: url(../../public/img/alaska.jpg);
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 290px;
}

.display-4, .lead{
    color: white;
}