body{
    height: 100%;
}

/* View Accueil */
nav {
    margin-bottom: 30px;
   
}

h1 {
   text-align: center; 
  
}

/* View Connexion */

.logConnexion {
    width: 600px;
    margin: auto;
} 

/* View Admin */

.cardAdmin {
    display: flex;
    justify-content: space-evenly;
}