body{
    
    background-color: grey;
    
}

footer {
    text-align: center;
}
/* ------------Template PHP-------------- */

.boxTemplate {
    margin-right: 100px;
    margin-left: 100px;
}

.fixed-top {
    background-color:#F5F5F5;
}

/*-------------- View Accueil-------------*/


h1 {
   text-align: center; 
   padding-top: 50px;
   padding-bottom: 40px;
  
}
/* ------------List post View ----------- */

.formComment {
    margin-top: 30px;
}

.text-center{
    margin-bottom: 20px;
}
/* ----------View Connexion------------ */

.logConnexion {
    width: 600px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
} 

/* ----------------View Admin------------- */

.cardAdmin{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.card-body {
    text-align: center;
}